body{
    background: #000;
    color: #fff;
}
.header{
    background-image:url(Asset/front.jpg);
    background-size: cover;
    background-position: center;
    padding: 10px, 8%;
    height:100vh;
    width: 100%;
    position: relative;
}
nav{
    display :flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px ,0;
}
.logo{
    width: 150px;
    cursor: pointer;
}
nav button{
    background: #db0001 ;
    color:#fff ;
    outline:0 ;
    border: 0;
    padding:7px 10px ;
    font-size:12px ;
    border-radius:4px ;
    margin-left: 10px;
    cursor: pointer;
}
.lang{
    display: inline-flex;
    background: transparent;
    align-items: center;
    border: 1px solid #fff;
    padding: 7px 10px;
}
.lang img{
      width: 10px;
      margin-left: 10px;
}
.headercontent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    margin-top: 100px;
}
.headercontent h1{
    font-size: 50px;
    line-height:70px ;
    font-weight: 600;
    max-width: 650px;
}

.headercontent h3{
    font-weight: 400;
    margin-bottom: 20px;
}
.email-signup{
    background: #fff;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    visibility: hidden;
}
.email-signup input{
    flex: 1;
    border: 0;
    outline: 0;
    margin-left: 20px;
}
.email-signup button{
    background: #db0001;
    border: 0;
    outline:0;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
.features{
    padding: 50px,12%;
    font-size: 22px;
}
.row{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
}
.text-col{
    flex-basis: 50%;
    margin-bottom: 20px;

}
.img-col{
    flex-basis: 50%;
    margin-bottom: 20px;
}
.img-col img{
    display: block;
    width: 80%;
    margin: auto;
}
.features h2{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}